.counter_app{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.counter{
    display: flex;
}

.counter .increment{
    background-color: green;
}
.counter .increment:hover{
    background-color: rgb(2, 50, 2);
}

.counter .decrement{
    background-color: red;
}
.counter .decrement:hover{
    background-color: rgb(102, 6, 6);
}

.counter .increment, .counter .decrement{
    border: none;
    height: 30px;
    margin: 0 30px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.counter span{
    font-size: 25px;
}