.counter_app{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.counter{
    display: flex;
}

.counter .increment{
    background-color: green;
}

.counter .decrement{
    background-color: red;
}

.counter .increment, .counter .decrement{
    border: none;
    height: 30px;
}